### db ###
db.sqlite3
blog/migrations/
users/migrations/

### socket ###
puchalatravel.sock

### media ###
media/
static/pictures/puchalatravel*

### Django ###
*.log
*.pot
*.pyc
__pycache__/
blog/__pycache__/
puchalatravel/__pycache__/
blog/migrations/__pycache__/
local_settings.py

### PyCharm ###
.idea/

### venv ###
puchalatravelenv/
virtualenv/