* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Open Sans";
  padding: 0px;
  background: #f1f1f1;
}

/* Header/Blog Title */
.header {
  font-family: "Oswald";
  padding: 0px;
  font-size: 40px;
  text-align: center;
  background: white;
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: white;
  overflow: hidden;
  border-bottom: 1px solid #3a3a3a;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #3a3a3a;
  text-align: center;
  padding: 0.4% 0.8%;
  text-decoration: none;
  font-size: 1.1vw;
}

/* Change the color of links on hover */
.topnav a:hover {
  border-bottom: 4px solid #3a3a3a;
}

/* Add a color to the active/current link */
.topnav a.active {
  font-weight: bold;
}

/* Change features for social buttons */
.topnav a.social {
  float: right;
  width: 3.25%;
  height: 3.25%;
}

/* Change features for main title */
.topnav a.title {
  border-bottom: none !important;
  font-size: 1.3vw;
  font-weight: bold;
  position: relative;
  right: -30%;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 1000px) {
  .topnav a { 
    font-size: 4vw;
  }

  .topnav a.social {
    float: right;
    width: 7%;
    height: 7%;
  }
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn { 
  float: left;
  width: 74%;
}

/* Right column */
.rightcolumn {
  float: right;
  width: 24%;
  padding-left: 20px;
}

/* Fake image */
.image {
  background-color: #aaa;
  width: 90%;
  padding: 5%;
}

/* Add a card effect for articles */
.card {
  background-color: white;
  padding: 15px;
  margin-top: 10px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Footer */
.footer {
  padding: 10px;
  text-align: center;
  background: #ddd;
  margin-top: 10px;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 1000px) {
  .leftcolumn, .rightcolumn { 
    width: 100%;
    padding: 0;
  }
}
