@import "https://fonts.googleapis.com/css?family=Oswald";
@import "https://fonts.googleapis.com/css?family=Open Sans";
@import "https://fonts.googleapis.com/css?family=Saira+Condensed";
@import "https://fonts.googleapis.com/css?family=Saira+Extra+Condensed";

* {
  margin: 0;
  padding: 0;
  border: 0
}

body {
  background: #fcfcfc;
  color: #666666;
  font-family: "Saira Condensed", sans-serif;
  margin: 0
}

h2 {
  font-size: 250%;
  font-weight: 700;
  text-align: center;
  padding: 2%
}

h3 {
  font-size: 175%;
  line-height: 155%;
  padding: 5% 0;
  font-weight: 400
}

p {
  font-family: "Saira Condensed", sans-serif;
  color: #666666;
  font-size: 120%;
  line-height: 120%;
  padding: 0%;
  text-indent: 2%;
  text-align: justify;
}

img {
  max-width: 100%;
  height: auto;
  width: auto;
  margin-bottom: -4px
}

a:link {
  text-decoration: none
}

a:visited {
  color: #666666;
}

header {
  font-family: "Saira Extra Condensed", sans-serif;
  position: fixed;
  z-index: 1000;
  background: rgba(255,255,255, 0.85);
  width: 100%;
  height: 60px;
}

#header-inner {
  margin: 0 auto
}

#title {
  margin: 5px 0 0 15px;
  float: left;
  font-size: 250%;
  font-weight: 700;
  color: #666666;
}

/*--- Start Navigation --*/

nav {
  float: right;
  padding: 15px 20px 0 0;
}

#menu-icon {
  display: hidden;
  margin-top: -3px;
  width: 30px;
  height: 30px;
  background: url(../pictures/menu.png) center;
}

a:hover#menu-icon {
  border-radius: 4px 4px 0 0;
}

ul {
  list-style-type: none;
}

nav ul li {
  font-size: 150%;
  display: inline-block;
  padding: 0px 10px 7px 10px;
  font-family: "Saira Condensed", sans-serif;
  right: 0;
  left: auto
}

nav ul li a {
  color: #666666;
  text-decoration: none
}

nav ul li a:hover {
  color: #d3953d
}

.current {
  color: #b7b7b7
}

/*--- End Navigation --*/

.message {
  text-align: center;
  padding-top: 70px;
  font-weight: bold;
}

.banner {
  width: 100%;
  background-color: #fcfcfc;
}

.banner-inner {
  margin: 0 auto
}

.one-third {
  width: 33.33%;
  float: left;
  text-align: center
}

#post-1-main {
  background-color: #fcfcfc;
  width: 25.33%;
  margin-top: -1%;
  padding: 0% 0% 3% 8%
}

#post-2-main {
  background-color: #fcfcfc;
  width: 25.33%;
  margin-top: -1%;
  padding: 0% 4% 3% 4%
}

#post-3-main {
  background-color: #fcfcfc;
  width: 25.33%;
  margin-top: -1%;
  padding: 0% 8% 3% 0%
}

.post-container {
  position: relative;
  text-align: center;
  font-size: 130%;
  font-weight: 800;
  color: white;
}

.post-container a {
  color: #3d3d3d;
}

.post-container a:hover {
  color: #b7b7b7;
  opacity: 0.8
}

.post-title {
  padding-top: 2%
}

#post-date {
  font-size: 75%;
  font-weight: 200;
  color: #d3953d;
}

a:hover #post-date {
  color: #e5bb80;
  opacity: 0.8
}

#post-place {
  font-size: 75%;
  font-weight: 200;
}

.inner-wrapper {
  float: left;
  width: 100%;
  background-color: #fcfcfc
}

article {
  font-size: 80%;
  float: left;
  margin: 0 auto;
  width: 50%;
  height: auto
}

#about-us {
  font-size: 80%;
  background-color: #fcfcfc;
  text-align: center
}

#about-us-p {
  padding: 3%;
}

aside {
  float: right;
  margin: 0 auto;
  width: 50%;
  height: auto
}

.inner-wrapper2 {
  float: left;
  width: 100%;
  background-color: #fcfcfc
}

#travel-challenge {
  background-color: #fcfcfc
}

#logo {
  background-color: #fcfcfc;
  font-size: 50%;
  padding: 0;
  clear: both
}

/*--- Start Footer --*/

footer {
  background-color: #f7f6f4;
  width: 100%
}

.social {
  list-style-type: none;
  text-align: center
}

.social li {
  display: inline
}

.social img {
  width: 2vw;
  height: 2vw;
  margin: 1%;
  padding: 0 5% 0 5%
}

.social img:hover {
  opacity: 0.6
}

footer.copyrights {
  border-top: 1px solid #b7b7b7;
  background-color: #f7f6f4;
  max-height: 50px;
  margin: 0
}

footer.copyrights p {
  padding: 1% 0 1% 0;
  font-size: 100%;
  font-weight: 600;
  text-align: center
}

/*--- Start Blog Posts View --*/

.top-section-title {
  width: 100%;
  text-align: center;
  padding-top: 70px;
  font-size: 200%;
  margin-bottom: -50px
}

.section-title {
  float: left;
  width: 100%;
  background-color: #fcfcfc;
  text-align: center;
  margin-top: -20px;
  z-index: 995;
  position: relative;
  font-size: 200%
}

#post-1-blog {
  background-color: #fcfcfc;
  width: 25.33%;
  padding: 4% 0% 2% 8%
}

#post-2-blog {
  background-color: #fcfcfc;
  width: 25.33%;
  padding: 4% 4% 2% 4%
}

#post-3-blog {
  background-color: #fcfcfc;
  width: 25.33%;
  padding: 4% 8% 2% 0%
}

#post-4-blog {
  background-color: #fcfcfc;
  width: 25.33%;
  padding: 1% 0% 2% 8%
}

#post-5-blog {
  background-color: #fcfcfc;
  width: 25.33%;
  padding: 1% 4% 2% 4%
}

#post-6-blog {
  background-color: #fcfcfc;
  width: 25.33%;
  padding: 1% 8% 2% 0%
}

#posts_list {
  background-color: #fcfcfc;
  width: 25.33%;
  padding: 4% 4% 6% 4%
}

.posts-other-list {
  display: block;
  text-align: left;
  font-size: 80%;
  width: 84%;
  padding-left: 8%;
  padding-right: 8%;
}

.posts-other-list a:link {
  color: #666666
}

.posts-other-list a:hover {
  color: #d3953d
}

#post-list-byline {
  display:inline;
  text-align: right;
  font-size: 70%;
  font-weight: 200;
}

#post-title {
  text-align: center;
  padding-top: 70px;
  font-size: 200%
}

#post-details {
  text-align: center;
  ont-size:80%
}

#post-body {
  text-align: justify;
  width: 70%;
  padding-left: 15%;
  padding-right: 15%;
  font-size: 110%
}

#post-section-title {
  text-align: center;
  font-weight: bold;
  padding-top: 2%;
  padding-bottom: 2%;
}

#picture-caption {
  padding-top: 5px;
  padding-bottom: 2%;
  font-size:90%;
  text-align: center
}

.post-likes {
  padding-left: 15%;
  padding-right: 15%;
  text-align: center;
}

#like-btn {
  display:inline-block;
  text-decoration: underline;
}

.post-likes a:link {
  color: #666666
}

.post-likes a:hover {
  color: #d3953d
}

.post-comments {
  padding-left: 15%;
  padding-right: 15%;
  padding-bottom: 2%
  margin-bottom: -50px
}

#date {
  display:inline-block;
}

#comment {
  padding: 1% 25% 1% 1%;
  margin: 20px 25% 20px 20px;
  border: 1px solid #e0e0e0
}

#add-comment {
  padding-left: 20px
}

/*--- Start Map View --*/

#map {
  width:100%;
  height: 90%
}

.place-title {
  padding-top: 1%;
  padding-bottom: 1%;
  font-size: 150%;
  font-weight: bold;
}

.place-post {
  font-size: 200%;
}

.place-post a:link {
  color: #666666
}

.place-post a:hover {
  color: #d3953d
}

.marker-green {
  background-image: url(../pictures/green_pin.png);
  background-size: cover;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  cursor: pointer;
}

.marker-red {
  background-image: url(../pictures/red_pin.png);
  background-size: cover;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  cursor: pointer;
}

.marker-light-green {
  background-image: url(../pictures/light_green_pin.png);
  background-size: cover;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  cursor: pointer;
}

.marker-light-red {
  background-image: url(../pictures/light_red_pin.png);
  background-size: cover;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  cursor: pointer;
}

.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Saira Condensed', sans-serif;
  font-size: 60%
}

/*--- Start About Us View --*/

.inner-wrapper-about-us {
  padding-top: 60px;
  float: left;
  width: 100%;
  background-color: #fcfcfc
}

#about {
  height: auto;
}

#magda {
  background-color: #fcfcfc
}

#michal {
  background-color: #fcfcfc
}

/*--- Start Login and Registration --*/

.form-general {
  padding-top: 70px;
  padding-left: 5%;
  padding-right: 5%;
}

.form-content {
  font-size: 100%;
}

.form-title {
  font-size: 200%;
  font-weight: bold;
}

.form-button {
  background-color: #3d3d3d;
  border: none;
  color: white;
  padding: 0.2% 2%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 80%;
  margin: 5px 2px;
  cursor: pointer;
}

#login {
  width: 100%;
  padding-top: 60px;
  text-align: center;
  font-size: 120%;
}

.logout {
  text-align: center;
  padding-top: 70px;
  font-size: 120%;
  font-weight: bold;
}

.profile-picture {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.profile-body {

}

/*--- Start Media Queries --*/

@media all and (max-width: 1100px) {
  h2 {
    font-size: 150%
  }
  h3 {
    font-size: 125%
  }
  p {
    font-size: 120%
  }
  header {
    position: fixed;
    height: 50px;
    margin-top: -50px;
    z-index: 995
  }
  #title {
    font-size: 130%;
    margin: 13px 0 20px 15px; 
  }
  #menu-icon {
    display: inline-block;
  }
  nav ul, nav:active ul {
    float: right;
    display: none;
    z-index: 1000;
    position: absolute;
    padding: 20px;
    background: #f7f6f4;
    right: 15px;
    top: 60px;
    border: 1px solid #b7b7b7;
    border-radius: 2px 0 2px 2px;
    width: 30%;
  }
  nav:hover ul {
    display: block;
  }
  nav li {
    text-align: justify;
    width: 100%;
    font-weight: 800
  }
  .banner {
    margin-top: 50px
  }
  .one-third {
    float: left;
    width: 100%
  }
  .post-container {
    font-size: 100%;
  }
  #post-1 {
    width: 70%;
    padding: 5% 15% 10% 15%
  }
  #post-2 {
    width: 70%;
    padding: 0% 15% 15% 15%
  }
  #post-3 {
    width: 70%;
    padding: 0% 15% 15% 15%
  }
  article {
    float: left;
    width: 100%;
    z-index: 0
  }
  aside {
    width: 100%
  }
  .social img {
    width: 8vw;
    height: 8vw;
  }
  .copyrights {
    font-size: 50%
  }
  #map{
    margin-top: 60px;
    z-index: 0
  }
  .top-section-title {
    width: 100%;
    text-align: center;
    font-size: 200%;
  }
  .inner-wrapper-about-us {
    z-index: 0;
    padding-top: 50px;
    position: relative;
    width: 100%;
    background-color: none
  }
  #about {
    z-index: 0
  }
}