{% extends 'blog/base.html' %}

{% block header %}
{% endblock %}

{% block banner %}
<div id="login">
    {% if form.errors %}
      <p>Your username and password didn't match. Please try again.</p>
    {% endif %}

    {% if next %}
      {% if user.is_authenticated %}
        <p>Your account doesn't have access to this page. To proceed,
        please login with an account that has access.</p>
      {% else %}
        <p>Please login to see this page.</p>
      {% endif %}
    {% endif %}

    <form method="post" action="{% url 'login' %}" width="100%">
    {% csrf_token %}
    <table>

    <tr>
      <td align="right">{{ form.username.label_tag }} {{ form.username }}</td>
    </tr>

    <tr>
      <td align="right">{{ form.password.label_tag }}{{ form.password }}</td>
    </tr>
    </table>

    <input type="submit" value="login" />
    <input type="hidden" name="next" value="{{ next }}" />
    </form>
{# Assumes you setup the password_reset view in your URLconf #}
<p><a href="{% url 'password_reset' %}">Lost password?</a></p>
<p><a href="{% url 'signup' %}">Don's have an account yet?</a></p>
</div>

{% endblock %}