{% extends 'blog/base.html' %}
{% load static %}

{% block title %}
    {% if LANGUAGE_CODE == 'pl' %}
        <title>O nas | Puchała Travel</title>
    {% else %}
        <title>About Us | Puchała Travel</title>
    {% endif %}
{% endblock %}

{% block meta %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Puchała Travel - About Us">
    <meta name="keywords" content="travel,blog,photography">
    <meta name="author" content="Michał Puchała, Magdalena Puchała">
{% endblock %}

{% block banner %}
    <div id='clear-top'></div>
{% endblock %}

{% block two_columns %}
<section class="inner-wrapper-about-us">
    <div id='about'>
        <article id="magda">
            <img id="mobile-image" src="{% static 'pictures/magda.jpg' %}">
        </article>
        <aside>
            <h2>magda</h2>
            {% if LANGUAGE_CODE == 'pl' %}
                <p id="about-us-p">{{ magda_bio.bio_pl|safe }}</p>
            {% else %}
                <p id="about-us-p">{{ magda_bio.bio|safe }}</p>
            {% endif %}
        </aside>
    </div>
    </section>
    <section class="inner-wrapper-2">
        <article>
            <h2>michał</h2>
            {% if LANGUAGE_CODE == 'pl' %}
                <p id="about-us-p">{{ michal_bio.bio_pl|safe }}</p>
            {% else %}
                <p id="about-us-p">{{ michal_bio.bio|safe }}</p>
            {% endif %}
        </article>
        <aside id="about-us">
                <img id="mobile-image" src="{% static 'pictures/michal.jpg' %}">
        </aside>
    </section>
{% endblock %}

