{% extends 'blog/base.html' %}
{% load static %}

{% block banner %}
{% endblock %}

{% block two_columns %}
<section class="inner-wrapper-about-us">
    <div id='about'>
        <article id="magda">
            <img src="{% static 'pictures/magda.jpg' %}">
        </article>
        <aside id="about-us">
            <h2>MAGDA</h2>
            <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut 
                aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum 
                dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                deserunt mollit anim id est laborum.</p>
        </aside>
    </div>
    </section>
    <section class="inner-wrapper-2">
        <article id="michal">
            <h2>MICHAŁ</h2>
            <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut 
                aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum 
                dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                deserunt mollit anim id est laborum.</p>
        </article>
        <aside id="about-us">
                <img src="{% static 'pictures/michal.jpg' %}">
        </aside>
    </section>
{% endblock %}

