{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    {% if LANGUAGE_CODE == 'pl' %}
        <title>Dodaj komentarz | Puchała Travel</title>
    {% else %}
        <title>Add Comment | Puchała Travel</title>
    {% endif %}
{% endblock %}

{% block banner %}
    <div id='clear-top'></div>
{% endblock %}

{% block one_column %}
    <div class="form-general">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-content">
                <legend class="form-title">New comment</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="">
                <button class="form-button" type="submit">Send</button>
            </div>
        </form>
    </div>
{% endblock %}