{% load static %}
<html>
    <head>
        <title>Puchała Travel</title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open Sans">
        <link rel="stylesheet" href="{% static 'css/default.css' %}">
    </head>
    <body>
        {% block navbar %}
        <div class="topnav">
            <a class="active" href="#home">Home</a>
            <a href="#news"><img src="{% static 'pictures/instagram_logo.png' %}" alt="Follow us on Instagram!" width="23" height="23"></a>
            <a href="#contact"><img src="{% static 'pictures/twitter_logo.png' %}" alt="Follow us on Twitter!" width="23" height="23"></a>
            <a href="#about">About</a>
        </div>
        {% endblock %}
        {% block header %}
        <div class="header">
            <h2>Puchała Travel</h2>
        </div>
        {% endblock %}
        <div class="row">
            {% block leftcolumn %}
            {% endblock %}
            {% block rightcolumn %}
            <div class="rightcolumn">
                <div class="card">
                    <h2>About Us</h2>
                    <div class="image" style="height:100px;">Image</div>
                    <p>Some text about me in culpa qui officia deserunt mollit anim..</p>
                    </div>
                <div class="card">
                    <h3>Popular Posts</h3>
                    <div class="image">Image</div><br>
                    <div class="image">Image</div><br>
                    <div class="image">Image</div>
              </div>
              <div class="card">
                <h3>Follow Us</h3>
                <p>Some text..</p>
              </div>
            </div>
            {% endblock %}
        </div>
        {% block footer %}
        <div class="footer">
            <h2>Footer</h2>
        </div>
        {% endblock %}
    </body>
</html>
