{% load static %}
<html>
    <head>
        <title>Puchała Travel</title>
        <meta charset="UTF-8">
        <meta name="description" content="Puchałą Travel blog">
        <meta name="keywords" content="travel,blog,photography">
        <meta name="author" content="Michał Puchała, Magdalena Puchała">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open Sans">
        <link rel="stylesheet" href="{% static 'css/default.css' %}">
    </head>
    <body>
        {% block navbar %}
        <div class="topnav">
            <a class="active" href="#home">Home</a>
            <a href="#about">Blog</a>
            <a href="#about">Map</a>
            <a href="#about">About</a>
            <a class="title" href="http://puchalatravel.com">Puchała Travel</a>
            <a class="social" href="https://www.instagram.com/puchalatravel/" target="_blank" align="right"><img src="{% static 'pictures/instagram_logo.png' %}" title="Follow us on Instagram!"></a>
            <a class="social" href="https://twitter.com/puchalatravel/" target="_blank" align="right"><img src="{% static 'pictures/twitter_logo.png' %}" title="Follow us on Twitter!"></a>
        </div>
        {% endblock %}
        {% block header %}
        <div class="header">
            <img style="width: 100%; max-height: 100%" src="{% static 'pictures/top_background.jpg' %}">
        </div>
        {% endblock %}
        <div class="row">
            {% block leftcolumn %}
            {% endblock %}
            {% block rightcolumn %}
            <div class="rightcolumn">
                <div class="card">
                    <h2>About Us</h2>
                    <div class="image" style="height:100px;">Image</div>
                    <p>Some text about me in culpa qui officia deserunt mollit anim..</p>
                    </div>
                <div class="card">
                    <h3>Popular Posts</h3>
                    <div class="image">Image</div><br>
                    <div class="image">Image</div><br>
                    <div class="image">Image</div>
              </div>
              <div class="card">
                <h3>Follow Us</h3>
                <p>Some text..</p>
              </div>
            </div>
            {% endblock %}
        </div>
        {% block footer %}
        <div class="footer">
            <h2>Footer</h2>
        </div>
        {% endblock %}
    </body>
</html>
