{% load static %}
<html>
<head>
    <title>Puchała Travel</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Puchała Travel blog">
    <meta name="keywords" content="travel,blog,photography">
    <meta name="author" content="Michał Puchała, Magdalena Puchała">
    <link rel="shortcut icon" type="image/png" href="">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open Sans">
    <link rel="stylesheet" href="{% static 'css/default.css' %}">
</head>
<!---End Head-->
<body>
    {% block navbar %}
    <header>
        <div id="header-inner">
            <div id="title">
                <a href="http://puchalatravel.com">PUCHAŁA TRAVEL</a>
            </div>
            <nav>
                <a href="#" id="menu-icon"></a>
                <ul>
                    <li><a href="index.html" class="current">Home</a></li>
                    <li><a href="#about">Blog</a></li>
                    <li><a href="#about">Map</a></li>
                    <li><a href="#about">About</a></li>
                </ul>
            </nav>
        </div>
    </header>
    {% endblock %}
<!---End Header-->
    {% block banner %}
    <section class="banner">
        <div class="banner-inner">
            <img src="{% static 'pictures/top_background.jpg' %}">
        </div>
    </section>
    {% endblock %}
<!---End Banner-->
    {% block three_columns %}
    <section class="one-third" id="post-1">
        <h3>Blog post #1</h3>
    </section>
    <section class="one-third" id="post-2">
        <h3>Blog post #2</h3>
    </section>
    <section class="one-third" id="post-3">
        <h3>Blog post #3</h3>
    </section>
    {% endblock %}
<!---End Four Column Section-->
    {% block two_columns %}
    <section class="inner-wrapper">
        <article id="about-us">
            <img src="{% static 'pictures/about_us.jpg' %}">
        </article>
        <aside id="about-us">
            <h2>ABOUT US</h2>
            <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut 
                aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum 
                dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                deserunt mollit anim id est laborum.</p>
        </aside>
    </section>
    <section class="inner-wrapper-2">
        <article id="travel-challenge">
            <h2>THE TRAVEL CHALLENGE</h2>
            <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut 
                aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum 
                dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                deserunt mollit anim id est laborum.</p>
        </article>
        <aside id="about-us">
            <img src="{% static 'pictures/puchalatravel_mapa.jpg' %}">
        </aside>
    </section>
    {% endblock %}
<!---End Two Column Section-->
    {% block footer %}
    <section id="logo">
        <h2>LOGO</h2>
    </section>
<!---End Logo Section-->
    <footer>
        <ul class="social">
            <li><a href="https://www.instagram.com/puchalatravel/" target="_blank"><img src="{% static 'pictures/instagram_logo.png' %}" title="Follow us on Instagram!"></a></li>
            <li><a href="https://twitter.com/puchalatravel/" target="_blank"><img src="{% static 'pictures/twitter_logo.png' %}" title="Follow us on Twitter!"></a></li>
        </ul>
    </footer>
<!---End Footer-->
    <footer class="copyrights">
        <p>&copy: Michał and Magdalena Puchała</p>
    </footer>
    {% endblock %}
<!---End Copyrights-->
</body>
</html>
