{% extends 'blog/base.html' %}

{% block title %}
    <title>Blog | Puchała Travel</title>
{% endblock %}

{% block meta %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Puchała Travel - Blog">
    <meta name="keywords" content="travel,blog,photography">
    <meta name="author" content="Michał Puchała, Magdalena Puchała">
{% endblock %}

{% block banner %}
    <div id='clear-top'></div>
{% endblock %}

{% block three_columns %}
<section class="top-section-title">
    most recent stories
</section>
<section class="one-third" id="post-1-blog">
    <div class="post-container">
        <a href="{{ latest_post.get_absolute_url }}"><img src="{{ latest_post.main_image.picture.url }}">
        <div class="post-title">
            <div id="title-post">{{ latest_post.title }}</div>
            <div id="post-date">{{ latest_post_date }}</div>
            <div id="post-place">{{ latest_post.byline|safe }}</div>
        </div>
        </a>
    </div>
</section>
<section class="one-third" id="post-2-blog">
    <div class="post-container">
        <a href="{{ second_latest_post.get_absolute_url }}"><img src="{{ second_latest_post.main_image.picture.url }}">
        <div class="post-title">
            <div id="title-post">{{ second_latest_post.title }}</div>
            <div id="post-date">{{ second_latest_post_date }}</div>
            <div id="post-place">{{ second_latest_post.byline|safe }}</div>
        </div>
        </a>
    </div>
</section>
<section class="one-third" id="post-3-blog">
    <div class="post-container">
        <a href="{{ third_latest_post.get_absolute_url }}"><img src="{{ third_latest_post.main_image.picture.url }}">
        <div class="post-title">
            <div id="title-post">{{ third_latest_post.title }}</div>
            <div id="post-date">{{ third_latest_post_date }}</div>
            <div id="post-place">{{ third_latest_post.byline|safe }}</div>
        </div>
        </a>
    </div>
</section>
<section class="section-title">
    our top stories
</section>
<section class="one-third" id="post-4-blog">
    <div class="post-container">
        <a href="{{ most_viewed_post.get_absolute_url }}"><img src="{{ most_viewed_post.main_image.picture.url }}">
        <div class="post-title">
            <div id="title-post">{{ most_viewed_post.title }}</div>
            <div id="post-date">{{ most_viewed_post_date }}</div>
            <div id="post-place">{{ most_viewed_post.byline|safe }}</div>
        </div>
        </a>
    </div>
</section>
<section class="one-third" id="post-5-blog">
    <div class="post-container">
        <a href="{{ second_most_viewed_post.get_absolute_url }}"><img src="{{ second_most_viewed_post.main_image.picture.url }}">
        <div class="post-title">
            <div id="title-post">{{ second_most_viewed_post.title }}</div>
            <div id="post-date">{{ second_most_viewed_post_date }}</div>
            <div id="post-place">{{ second_most_viewed_post.byline|safe }}</div>
        </div>
        </a>
    </div>
</section>
<section class="one-third" id="post-6-blog">
    <div class="post-container">
        <a href="{{ third_most_viewed_post.get_absolute_url }}"><img src="{{ third_most_viewed_post.main_image.picture.url }}">
        <div class="post-title">
            <div id="title-post">{{ third_most_viewed_post.title }}</div>
            <div id="post-date">{{ third_most_viewed_post_date }}</div>
            <div id="post-place">{{ third_most_viewed_post.byline|safe }}</div>
        </div>
        </a>
    </div>
</section>
{% endblock %}
{% block one_column %}
<section class="section-title">
        all stories
    <div class='posts-other-list'>
        {% for i in post_list %}
            <a href="{{ i.get_absolute_url }}">
                <div id="other-post-title">{{ i.title }}</div> <div id='post-list-byline'> | {{ i.title_place }} | {{ i.published_date|date:'Y-m-d' }}</div><br>
            </a>
        {% endfor %}
    </div>
</section>

{% endblock %}