{% extends 'blog/base.html' %}

{% load hitcount_tags %}
{% get_hit_count_js_variables for post as hitcount %}

{% block banner %}
<div id='post-title'>
    {{ post.title }} <br>
</div>
<div id='post-body'>
    {{ post.text|safe }} <br><br>
</div>
<div id='post-details'>
Author: {{ post.author.first_name }}, published: {{ post.published_date|date:'Y-m-d' }}
</div>
<div id='post-likes'>
    Post has {{ post.post_likes.count }} likes.
    <a class="like-btn" href = "{{ post.get_like_url }}">Like</a><br>
    Post has {{ hitcount.total_hits }} views <br>
</div>
<div id='post-comments'>
    {% for comment in post.comments.all %}
        <div class="comment">
            <div class="date">{{ comment.created_date }}</div>
            <strong>{{ comment.author }}</strong>
            <p>{{ comment.text|linebreaks }}</p>
        </div>
    {% empty %}
        <p>No comments here yet :(</p>
    {% endfor %}
    <a class="btn btn-default" href="{% url 'add_comment_to_post' pk=post.pk %}">Add comment</a>
</div>
{% endblock %}