{% extends 'blog/base.html' %}

{% load hitcount_tags %}
{% get_hit_count_js_variables for post as hitcount %}

{% block banner %}
    <div id='clear-top'></div>
{% endblock %}

{% block one_column %}
<div id='post-title'>
    {{ post.title }} <br>
</div>
<div class='post-body'>
    {{ post.text|safe }} <br><br>
</div>
<div id='post-details'>
Author: {{ post.author.first_name }}, published: {{ post.published_date|date:'Y-m-d' }}
</div>
<div class='post-likes'>
    {{ hitcount.total_hits }} views | {{ post.post_likes.count }} likes
    <div id="like-btn"><a href = "{{ post.get_like_url }}">Like</a></div><br>
</div>
<div class='post-comments'>
    {% for comment in post.comments.all %}
        <div id="comment">
            <strong>{{ comment.author }}  </strong><div id="date"> | {{ comment.created_date|date:'Y-m-d, H:i' }}</div>
            <p>{{ comment.text|linebreaks }}</p>
        </div>
    {% empty %}
        <div id="comment">
            <p>No comments here yet :(</p>
        </div>
    {% endfor %}
    <div id="add-comment"><a href="{% url 'add_comment_to_post' pk=post.pk %}">
        <button class="form-button" type="submit">Add comment</button>
    </a></div>
</div>
{% endblock %}