@import "https://fonts.googleapis.com/css?family=Oswald";
@import "https://fonts.googleapis.com/css?family=Open Sans";
@import "https://fonts.googleapis.com/css?family=Saira+Condensed";
@import "https://fonts.googleapis.com/css?family=Saira+Extra+Condensed";
@font-face {
  font-family: "Mf I Love Glitter";
  src:
  url("https://puchalatravel.com/static/fonts/I Love Glitter.ttf") format("truetype"),
  url("https://puchalatravel.com/static/fonts/I Love Glitter.otf") format("opentype");
}

* {
  margin: 0;
  padding: 0;
  border: 0
}

a:link {
  color: #494e6b;
}

a:hover {
  color: #d3953d;
}

body {
  background: #fcfcfc;
  color: #494e6b;
  font-family: "Saira Condensed", sans-serif;
  margin: 0
}

h2 {
  font-size: 250%;
  font-weight: 700;
  text-align: center;
  padding: 2%;
  font-family: "Mf I Love Glitter", "Saira Condensed", sans-serif;
}

h2 a:hover {
  color: #d3953d;
}

h3 {
  font-size: 175%;
  line-height: 155%;
  padding: 5% 0;
  font-weight: 400
}

p {
  font-family: "Saira Condensed", sans-serif;
  color: #494e6b;
  font-size: 120%;
  line-height: 120%;
  padding: 0%;
  text-indent: 0%;
  text-align: justify;
}

img {
  max-width: 100%;
  height: auto;
  width: auto;
}

a:link {
  text-decoration: none
}

a:visited {
  color: #494e6b;
}

header {
  font-family: "Saira Extra Condensed", sans-serif;
  position: fixed;
  z-index: 1000;
  background: rgba(255,255,255, 0.85);
  width: 100%;
  height: 60px;
}

#header-inner {
  margin: 0 auto
}

#title {
  font-family: "Mf I Love Glitter", "Saira Condensed", sans-serif;
  margin: 10px 0 0 15px;
  float: left;
  font-size: 250%;
  font-weight: 700;
  color: #494e6b;
}

/*--- Start Navigation --*/

nav {
  float: right;
  padding: 10px 20px 0 0;
}

#nav-icons {
  display: inline-block;
}

.lang-button{
  width: 30px;
  height: 28px;
  margin: -8px;
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  display: block;

  font-family: "Saira Extra Condensed", sans-serif;
  font-size: 75%;
  color: #494e6b;
}

.lang-button:hover{
  color: #d3953d;
}

#menu-icon {
  display: none;
  margin-top: -3px;
  width: 30px;
  height: 30px;
  object-fit: contain;
  /*background: url(../pictures/menu.png) center;*/
}

a:hover#menu-icon {
  border-radius: 4px 4px 0 0;
}

ul {
  list-style-type: none;
}

nav ul li {
  font-size: 150%;
  display: inline-block;
  padding: 0px 10px 7px 10px;
  font-family: "Saira Condensed", sans-serif;
  right: 0;
  left: auto
}

nav ul li a {
  color: #494e6b;
  text-decoration: none
}

nav ul li a:hover {
  color: #d3953d;
}

.profile-icon {
  border-radius: 50%;
  height: 30px;
  width: 30px;
}

.current {
  color: #b7b7b7
}

/*--- End Navigation --*/

.message {
  text-align: center;
  padding: 70px 0 0 0;
  font-size: 120%;
  font-weight: bold;
  margin-bottom: -50px;
}

.banner {
  width: 100%;
  background-color: #fcfcfc;
}

.banner-inner {
  margin: 0 auto
}

.one-third {
  width: 33.33%;
  float: left;
  text-align: center
}

#post-1-main {
  background-color: #fcfcfc;
  width: 25.33%;
  margin-top: -1%;
  padding: 0% 0% 3% 8%
}

#post-2-main {
  background-color: #fcfcfc;
  width: 25.33%;
  margin-top: -1%;
  padding: 0% 4% 3% 4%
}

#post-3-main {
  background-color: #fcfcfc;
  width: 25.33%;
  margin-top: -1%;
  padding: 0% 8% 3% 0%
}

.post-container {
  position: relative;
  text-align: center;
  font-size: 130%;
  font-weight: 800;
  color: white;
}

.post-container a {
  color: #494e6b;
}

.post-container a:hover {
  color: #8b8ea0;
  opacity: 0.9
}

.post-title {
  padding-top: 2%;
}

#title-post {
  font-size: 130%;
  font-weight: bold;
  font-family: "Mf I Love Glitter", sans-serif;
}

#post-date {
  font-size: 75%;
  font-weight: 200;
  color: #d3953d;
}

a:hover #post-date {
  color: #e5bb80;
  opacity: 0.8
}

#post-place {
  font-size: 75%;
  font-weight: 200;
  padding: 0 5%;
}

.inner-wrapper {
  float: left;
  width: 100%;
  background-color: #fcfcfc
}

article {
  font-size: 100%;
  float: left;
  margin: 0 auto;
  width: 50%;
  height: auto
}

#about-us {
  background-color: #fcfcfc;
  text-align: center
}

#about-us-p {
  padding: 0.5% 5%;
  font-size: 110%;
}

aside {
  float: right;
  margin: 0 auto;
  width: 50%;
  height: auto
}

.inner-wrapper2 {
  float: left;
  width: 100%;
  background-color: #fcfcfc
}

#travel-challenge {
  background-color: #fcfcfc
}

#progressbar {
  border: 1px solid #494e6b;
  border-radius: 13px;
  margin: 2% 5%;
  padding: 3px;
}

#progressbar div {
  background-color: #e5bb80;
  width: 33%;
  text-align: center;
  font-weight: 700;
  height: 30px;
  border-radius: 10px;
}

.map-legend{
  margin: 5px 5%;
  text-align: center;
  font-size: 110%;
}

#post-legend{
  font-size: 90%;
}

#legend-visited {
  color: #61755b;
}

#legend-planned {
  color: #6f1d1b;
}

#legend-visited-other {
  color: #a5b99f;
}

#legend-next-destination {
  color: #d3953d;
}

#legend-food {
  color: #6f1d1b;
}

#legend-accommodation {
  color: #d3953d;
}

#legend-spots {
  color: #494e6b;
}

#map-index {
  width:100%;
  height: 50%;
  margin: 0;
  padding: 0
}

#logo {
  background-color: #fcfcfc;
  font-size: 50%;
  padding-top: 3px;
  clear: both
}

/*--- Start Footer --*/

footer {
  background-color: #f7f6f4;
  width: 100%;
}

.social {
  list-style-type: none;
  text-align: center
}

.social li {
  display: inline
}

.social img {
  width: 1.6vw;
  height: 1.6vw;
  margin: 0.5%;
  padding: 5px 2% 0 2%
}

.social img:hover {
  opacity: 0.6
}

footer.copyrights {
  border-top: 1px solid #b7b7b7;
  background-color: #f7f6f4;
  max-height: 50px;
  margin: 0
}

footer.copyrights p {
  padding: 1% 0 1% 0;
  font-size: 100%;
  font-weight: 600;
  text-align: center
}

/*--- Start Blog Posts View --*/

.top-section-title {
  width: 100%;
  text-align: center;
  padding-top: 70px;
  font-size: 250%;
  font-weight: bold;
  margin-bottom: -50px;
  font-family: "Mf I Love Glitter", sans-serif;
}

.section-title {
  float: left;
  width: 100%;
  background-color: #fcfcfc;
  text-align: center;
  margin-top: 0;
  z-index: 995;
  position: relative;
  font-size: 250%;
  font-weight: bold;
  font-family: "Mf I Love Glitter", sans-serif;
}

#post-1-blog {
  background-color: #fcfcfc;
  width: 25.33%;
  padding: 4% 0% 2% 8%
}

#post-2-blog {
  background-color: #fcfcfc;
  width: 25.33%;
  padding: 4% 4% 2% 4%
}

#post-3-blog {
  background-color: #fcfcfc;
  width: 25.33%;
  padding: 4% 8% 2% 0%
}

#post-4-blog {
  background-color: #fcfcfc;
  width: 25.33%;
  padding: 1% 0% 2% 8%
}

#post-5-blog {
  background-color: #fcfcfc;
  width: 25.33%;
  padding: 1% 4% 2% 4%
}

#post-6-blog {
  background-color: #fcfcfc;
  width: 25.33%;
  padding: 1% 8% 2% 0%
}

.posts-other-list {
  display: block;
  text-align: left;
  font-size: 60%;
  width: 84%;
  padding-left: 8%;
  padding-right: 8%;
  padding-bottom: 2%;
  font-family: "Saira Condensed", sans-serif;
}

.posts-other-list a:link {
  color: #494e6b
}

.posts-other-list a:hover {
  color: #d3953d
}

#other-post-title {
  display: inline;
  font-weight: bold;
  font-size: 120%;
  font-family: "Mf I Love Glitter", sans-serif;
}

#post-list-byline {
  display:inline;
  text-align: right;
  font-size: 70%;
  font-weight: 200;
}

#post-title {
  text-align: center;
  padding: 80px 0 10px 0;
  font-size: 250%;
  font-weight: bold;
  font-family: "Mf I Love Glitter", sans-serif;
}

#post-details {
  text-align: center;
  margin-top: 0px;
}

.post-share {
  display: flex;
  align-items: center;
  justify-content: center;
  filter: grayscale(50%);
  margin-bottom: -20px;
}

.post-body {
  text-align: justify;
  width: 70%;
  padding-left: 15%;
  padding-right: 15%;
  font-size: 110%
}

.post-body img {
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.post-body a:link {
  color: #494e6b;
  text-decoration: underline;
}

.post-body a:hover {
  color: #d3953d
}

.post-vertical-images {
  content: "";
  clear: both;
  display: flex;
}

.post-vertical-images-image {
  display: inline;
  float: left;
  flex: 50%;
  padding: 5px;
}

#post-section-title {
  text-align: center;
  font-size: 150%;
  font-weight: bold;
  padding-top: 2%;
  padding-bottom: 2%;
  font-weight: bold;
  font-family: "Mf I Love Glitter", sans-serif;
}

#picture-caption {
  padding-top: 5px;
  padding-bottom: 2%;
  font-size:90%;
  text-align: center
}

#map-post {
  width: 100%;
  height: 80%
}

.related-posts {
  font-size: 120%;
  text-align: left;
  width: 70%;
  padding-left: 15%;
  padding-right: 15%;
  margin: -20px 0 20px 0;
}

.post-likes {
  padding-left: 15%;
  padding-right: 15%;
  text-align: center;
}

#like-btn {
  display:inline-block;
  text-decoration: underline;
}

.post-likes a:link {
  color: #494e6b
}

.post-likes a:hover {
  color: #d3953d
}

.post-comments {
  padding-left: 15%;
  padding-right: 15%;
  padding-bottom: 2%;
}

#date {
  display:inline-block;
}

#comment {
  padding: 1% 25% 1% 1%;
  margin: 20px 25% 20px 20px;
  border: 1px solid #e0e0e0
}

#comment-text {
  font-size: 90%;
}

#add-comment {
  padding-left: 20px
}

/*--- Start Map View --*/

#map {
  width:100%;
  height: 90%
}

.place-title {
  font-size: 100%;
  font-weight: bold;
  font-family: 'Saira Condensed';
  text-align: center;
  padding: 3px 3px 8px 3px;
}

.place-post {
  text-align: center;
  font-family: 'Saira Condensed';
  font-size: 90%;
  line-height: 28px;
  padding: 0 3px;
}

.place-post a:link {
  color: #494e6b
}

.place-post a:hover {
  color: #d3953d
}

.marker-green {
  background-image: url(../pictures/green_pin.png);
  background-size: cover;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  cursor: pointer;
}

.marker-red {
  background-image: url(../pictures/red_pin.png);
  background-size: cover;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  cursor: pointer;
}

.marker-light-green {
  background-image: url(../pictures/light_green_pin.png);
  background-size: cover;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  cursor: pointer;
}

.marker-light-green:hover {
  opacity: 0.5;
}

.marker-light-red {
  background-image: url(../pictures/light_red_pin.png);
  background-size: cover;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  cursor: pointer;
}

.marker-green:hover {
  opacity: 0.5;
}

.marker-red:hover {
  opacity: 0.5;
}

.marker-light-green:hover {
  opacity: 0.5;
}

.marker-light-red:hover {
  opacity: 0.5;
}

.mapboxgl-popup {
  max-width: 400px;
  font-size: 150%;
  font-family: 'Saira Condensed', Sans-Serif;
}

.destination-list {
  width: 90%;
  margin: 2% 5% 0 5%;
}

.one-fourth {
  width: 25%;
  display: inline-block;
  float: left;
  text-align: center
}

/*--- Start About Us View --*/

.inner-wrapper-about-us {
  padding-top: 60px;
  float: left;
  width: 100%;
  background-color: #fcfcfc
}

#about {
  height: auto;
}

#magda {
  background-color: #fcfcfc;
}

#michal {
  background-color: #fcfcfc;
}

/*--- Start Login and Registration --*/

.form-general {
  padding-top: 70px;
  padding-left: 5%;
  padding-right: 5%;
}

.form-general a:link {
  text-decoration: underline;
  color: #494e6b;
}

.form-general a:hover {
  color: #d3953d;
}

.form-general input {
  border-bottom: 1px solid #494e6b;
}

.form-content {
  font-size: 100%;
}

.form-title {
  font-size: 175%;
  font-weight: bold;
}

.form-button {
  background-color: #494e6b;
  border: none;
  color: white;
  padding: 0.2% 2%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 80%;
  margin: 10px 0 5px 0;
  cursor: pointer;
}

.form-button:hover {
  background-color: #d3953d;
}

#login {
  width: 100%;
  padding-top: 60px;
  text-align: center;
  font-size: 120%;
}

.logout {
  text-align: center;
  padding: 90px 0 20px 0;
  font-size: 120%;
}

.logout a:hover {
  color: #d3953d;
}

.profile-picture {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

#logout-button {
  text-align: center;
  margin: -30px 0 20px 0;
  font-size: 120%;
}

#logout-button a:hover {
  color: #d3953d;
}

/*--- Start Media Queries --*/

@media all and (max-width: 1100px) {

  /*--- General --*/

  h2 {
    font-size: 200%
  }

  h3 {
    font-size: 125%
  }

  p {
    font-size: 120%
  }

  header {
    position: fixed;
    height: 50px;
    margin-top: -50px;
    z-index: 995
  }

  #title {
    font-size: 240%;
    margin: 10px 0 20px 15px;
  }

  #menu-icon {
    display: inline-block;
    object-fit: contain;
    margin-top: 0;
    padding: 1%;
  }

  nav ul, nav:active ul {
    float: right;
    display: none;
    z-index: 1000;
    position: absolute;
    padding: 10px;
    background: #f7f6f4;
    right: 5px;
    top: 55px;
    border: 1px solid #b7b7b7;
    border-radius: 2px 0 2px 2px;
    width: 35%;
    font-size: 85%;
    font-weight: 200;
  }

  nav:hover ul {
    display: block;
    padding: 15px 0 0 10px;
    margin: 0;
    list-style: none;
  }

  nav li {
    padding: 0 3px;
    margin: 0;
    text-align: left;
    width: 100%;
    font-weight: 800
  }

  #nav-icons {
    text-align: center;
  }

  .profile-icon {
    display: inline-block;
    text-align: center;
  }

  .lang-button {
    display: inline;
    text-align: center;
    height: 50px;
    width: 65px;
    font-size: 100%;
    padding-bottom: 0
  }

  #mobile-image {
    height: 40%;
    object-fit: cover;
  }

  #clear-top {
    width: 100%;
    height: 1px;
    margin-top: 50px;
    z-index: 0
  }

  /*--- Homepage --*/

  .banner {
    margin-top: 50px
  }

  .one-third {
    float: left;
    width: 100%
  }

  .post-container {
    font-size: 100%;
  }

  #post-1-main {
    width: 80%;
    padding: 0% 10% 5% 10%
  }

  #post-2-main {
    width: 80%;
    padding: 0% 10% 5% 10%
  }

  #post-3-main {
    width: 80%;
    padding: 0% 10% 5% 10%;
  }

  article {
    float: left;
    width: 100%;
    z-index: 0;
  }

  aside {
    width: 100%
  }

  #about-us-p {
    font-size: 90%;
    padding: 1% 5% 5% 5%;
  }

  .social img {
    padding-top: 2%;
    width: 8vw;
    height: 8vw;
  }
  .copyrights {
    height: 4%;
    font-size: 100%
  }

  /*--- Blog List View --*/

  .top-section-title {
  width: 100%;
  text-align: center;
  padding-top: 0;
  font-size: 200%;
  margin-bottom: 0px
  }

  .section-title {
  font-size: 200%;
}

 #post-1-blog {
    width: 80%;
    padding: 0% 10% 2% 10%
  }

  #post-2-blog {
    width: 80%;
    padding: 0% 10% 2% 10%
  }

  #post-3-blog {
    width: 80%;
    padding: 0% 10% 5% 10%
  }

  #post-4-blog {
    width: 80%;
    padding: 0% 10% 2% 10%
  }

  #post-5-blog {
    width: 80%;
    padding: 0% 10% 2% 10%
  }

  #post-6-blog {
    width: 80%;
    padding: 0% 10% 5% 10%
  }

  .posts-other-list {
    display: block;
    text-align: left;
    font-size: 60%;
    width: 80%;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 2%;
  }

  .posts-other-list a:link {
    color: #494e6b
  }

  .posts-other-list a:hover {
    color: #d3953d
  }

  #post-list-byline {
    display:inline;
    text-align: right;
    font-size: 70%;
    font-weight: 200;
  }

  /*--- Post View --*/

  #post-title {
    padding-top: 10px;
    text-align: center;
    font-size: 200%;
    font-weight: bold;
    font-family: "Mf I Love Glitter", sans-serif;
  }

  .post-body {
    width: 80%;
    padding-left: 10%;
    padding-right: 10%;
    font-size: 100%
  }

  .post-body img {
    width: 100%;
  }

  .post-vertical-images {
    display: block;
  }

  .post-vertical-images-image {
    width: 100%;
  }

  #picture-caption {
    font-size: 85%;
  }

  .post-comments {
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 2%
  }

  #date {
    display:inline-block;
  }

  #comment {
    font-size: 85%;
    padding: 1% 25% 1% 1%;
    margin: 20px 0 20px 0;
    border: 1px solid #e0e0e0
  }

  #add-comment {
    padding: 0px 2px 2px 2px;
  }

  /*--- Map --*/

  #map{
    margin-top: 50px;
    z-index: 0
  }

  .place-title {
  font-size: 120%;
  }

  .place-post {
    font-size: 100%;
    margin-top: 10px;
    line-height: 35px;
  }

  .place-post a:link {
    color: #494e6b;
  }

  .place-post a:hover {
    color: #d3953d
  }

  .destination-list {
    width: 98%;
    margin: 5% 1% 3% 1%;
  }

  .one-fourth {
    float: left;
    width: 50%
  }

 /*--- About Us --*/

  .inner-wrapper-about-us {
    clear:both;
    padding-top: 0px;
    position: relative;
    width: 100%;
    background-color: #fcfcfc
  }

  #about {
    height: auto;
  }

  #magda {
    background-color: #fcfcfc
  }

  #michal {
    background-color: #fcfcfc
  }

  /*--- Forms --*/
  .form-general {
    font-size: 120%;
    padding-top: 0px;
    padding-left: 5%;
    padding-right: 5%;
  }

  .logout {
    padding: 5% 10%;
    font-size: 120%;
  }

  .form-button {
    padding: 2% 4%;
    font-size: 90%;
  }

  #logout-button {
    margin: 0px 0 20px 0;
  }

}