{% extends 'blog/base.html' %}

{% block title %}
    {% if LANGUAGE_CODE == 'pl' %}
        <title>Wylogowanie | Puchała Travel</title>
    {% else %}
        <title>Logout | Puchała Travel</title>
    {% endif %}
{% endblock %}

{% block banner %}
    <div id='clear-top'></div>
{% endblock %}

{% block one_column %}
    <div class="logout">
        {% if LANGUAGE_CODE == 'pl' %}
            Zostałeś wylogowany/a. Jeżeli chcesz się zalogować ponownie liknij <a href="{% url 'login' %}">tutaj</a>
        {% else %}
            You have been successfully logged out. If you want to log back in go <a href="{% url 'login' %}">here</a>
        {% endif %}
    </div>
{% endblock %}