{% extends 'blog/base.html' %}

{% block title %}
    {% if LANGUAGE_CODE == 'pl' %}
        <title>Reset Hasła | Puchała Travel</title>
    {% else %}
        <title>Reset Password | Puchała Travel</title>
    {% endif %}
{% endblock %}

{% block banner %}
    <div id='clear-top'></div>
{% endblock %}

{% block one_column %}
    <div class="logout">
        {% if LANGUAGE_CODE == 'pl' %}
            Twoje hasło zostało zresetowane. <a href="{% url 'login' %}"><u>Zaloguj się</u></a>
        {% else %}
            Your password has been reset. <a href="{% url 'login' %}"><u>Log in here</u></a>
        {% endif %}
    </div>
{% endblock %}