{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    {% if LANGUAGE_CODE == 'pl' %}
        <title>Reset Hasła | Puchała Travel</title>
    {% else %}
        <title>Reset Password | Puchała Travel</title>
    {% endif %}
{% endblock %}

{% block banner %}
    <div id='clear-top'></div>
{% endblock %}

{% block one_column %}
    <div class="form-general">
        <form method="POST">
            {% csrf_token %}
                {% if LANGUAGE_CODE == 'pl' %}
                    <fieldset class="form-content">
                        <legend class="form-title">Zresetuj hasło</legend>
                        {{ form|crispy }}
                    </fieldset>
                    <div class="">
                        <button class="form-button" type="submit">Zresetuj hasło</button>
                    </div>
                {% else %}
                    <fieldset class="form-content">
                        <legend class="form-title">Reset Password</legend>
                        {{ form|crispy }}
                    </fieldset>
                    <div class="">
                        <button class="form-button" type="submit">Reset password</button>
                    </div>
                {% endif %}
        </form>
    </div>
{% endblock %}