{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}

{% block banner %}
    <div id='clear-top'></div>
{% endblock %}

{% block one_column %}
    <div class="form-general">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-content">
                <legend class="form-title">Reset Password</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="">
                <button class="form-button" type="submit">Confirm password reset</button>
            </div>
        </form>
    </div>
{% endblock %}