{% extends 'blog/base.html' %}

{% block title %}
    {% if LANGUAGE_CODE == 'pl' %}
        <title>Reset Hasła | Puchała Travel</title>
    {% else %}
        <title>Reset Password | Puchała Travel</title>
    {% endif %}
{% endblock %}

{% block banner %}
    <div id='clear-top'></div>
{% endblock %}

{% block one_column %}
    <div class="logout">
        {% if LANGUAGE_CODE == 'pl' %}
            Wysłaliśmy Ci email z instrukcjami ustalenia nowego hasła. Jeżeli nie otrzymasz maila w ciągu kilku minut, sprawdź folder ze spamem.
        {% else %}
            We've emailed you instructions for setting your password. If they haven't arrived in a few minutes, check your spam folder.
        {% endif %}
    </div>
{% endblock %}